<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <link rel="stylesheet" type="text/css" th:href="@{/css/newFormC.css}"/>
    <meta charset="UTF-8">
    <title>Nowa atrakcja</title>

</head>
<body>

<div align="center">
    <h1>Wprowadź nową atrakcję</h1>

    <br/>

    <form action="#" th:action="@{/save}" th:object="${atrakcja}" method="post">
        <table border = "1" cellpadding = "10">
            <tr>
                <td>Nazwa</td>
                <td><input type="text" th:field="*{nazwa}"></td>
            </tr>

            <tr>
                <td>Producent</td>
                <td><input type="text" th:field="*{producent}"></td>
            </tr>

            <tr>
                <td>Dostępność dla dzieci</td>
                <td><input type="text" th:field="*{dostepnosc_dla_dzieci}"></td>
            </tr>

            <tr>
                <td>Liczba miejsc</td>
                <td><input type="text" th:field="*{liczba_miejsc}"></td>
            </tr>

            <tr>
                <td>Opis</td>
                <td><input type="text" th:field="*{opis}"></td>
            </tr>

            <tr>
                <td>Id atrakcji</td>
                <td><input type="text" th:field="*{id_atrakcji}"></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>

        </table>

    </form>
</div>



</body>
</html>