<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edytuj wynagrodzenie</title>
</head>
<body>

<div align="center">

  <h1>Edytuj wynagrodzenie</h1>
  <br/>
  <form action="#" th:action="@{/updateW}" th:object="${wynagrodzenia}" method="post">
    <table border = "1" cellpadding="10">

      <tr>
        <td>Data</td>
        <td><input type="text" th:field="*{data}" th:attr="placeholder='yyyy-MM-dd'"></td>
      </tr>

      <tr>
        <td>Kwota brutto</td>
        <td><input type="text" th:field="*{kwota_brutto}"></td>
      </tr>

      <tr>
        <td>Kwota netto</td>
        <td><input type="text" th:field="*{kwota_netto}"></td>
      </tr>

      <tr>
        <td>ID</td>
        <td><input type="text" th:field="*{id_pracownika}"></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>


    </table>



  </form>


</div>


</body>
</html>