<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Panel</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin/dane_pracownikowC.css}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
  <link rel="icon" href="/icon/crystal-ball.ico" type="image/x-icon">


</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/static">Park rozrywki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Strona główna</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Panel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:inline="text" style="color:lightskyblue;">Zalogowany jako [[${#httpServletRequest.remoteUser}]]</a>
        </li>

        <li class="nav-item">
          <form th:action="@{/logout}" method="post" id="logoutForm">
            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Wyloguj</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div align="center">
  <h1>Attractions</h1>

  <br/><br/>

  <!-- Table -->
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Minimum age</th>
      <th>Description</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="attractions : ${attractionsList}">
      <td th:text="${attractions.id_attraction}">ID</td>
      <td th:text="${attractions.name}">Name</td>
      <td th:text="${attractions.duration}">Duration</td>
      <td th:text="${attractions.min_age}">Minimum age</td>
      <td th:text="${attractions.description}">Description</td>
      <td class="hta">
        <a th:href="@{'/editA/' + ${attractions.id_attraction}}" class="add-button2">Edit</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/deleteA/' + ${attractions.id_attraction}}"class="add-button2" >Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/newA}" class="add-button">Add new attraction</a>

</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>