form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 40px; /* Ustawia maksymalną szerokość kontenera formularza */
    margin: 0 auto; /* Centruje formularz na stronie */
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px; /* Zmniejsza margines na górze nagłówka */
    margin-bottom: 0; /* Zmniejsza margines na dole nagłówka */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 10px; /* Zmniejsza margines na dole tabeli */
}

th, td {
    padding: 10px; /* Zwiększa padding komórek */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    height: 50%;
    background-color: #f8f8f8; /* Kolor tła komórki nagłówkowej */
}

/* Linie między komórkami */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Kolor tła komórek w parzystych wierszach */
}

#logoutForm {
    display: inline; /* Dodaj display: inline */
    border: none;
    margin: 0;
    padding: 0;
}
a.add-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1665c2;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Zmniejsza margines na górze guzika */
}

a.add-button:hover {
    background-color: #144b93;
}

a.add-button2 {
    display: inline-block;
    padding: 6px 12px; /* Zmniejsza padding guzika 2 */
    text-decoration: none;
    background-color: #1665c2;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Zmniejsza margines na górze guzika */
}

a.add-button2:hover {
    background-color: #144b93;
}
