<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj pracownika</title>
</head>
<body>

<div align="center">

  <h1>Edytuj pracownika</h1>
  <br/>
  <form action="#" th:action="@{/update}" th:object="${pracownicy}" method="post">
    <table border = "1" cellpadding="10">

      <tr>
        <td>ID</td>
        <td><input type="text" th:field="*{id_pracownika}"></td>
      </tr>

      <tr>
        <td>Imię</td>
        <td><input type="text" th:field="*{imie}"></td>
      </tr>

      <tr>
        <td>Nazwisko</td>
        <td><input type="text" th:field="*{nazwisko}"></td>
      </tr>

      <tr>
        <td>Płeć</td>
        <td><input type="text" th:field="*{plec}"></td>
      </tr>

      <tr>
        <td>Data urodzenia</td>
        <td><input type="text" th:field="*{data_urodzenia}" th:attr="placeholder='yyyy-MM-dd'"></td>
      </tr>

      <tr>
        <td>Pesel</td>
        <td><input type="text" th:field="*{PESEL}"></td>
      </tr>

      <tr>
        <td>email</td>
        <td><input type="text" th:field="*{email}"></td>
      </tr>

      <tr>
        <td>Numer konta</td>
        <td><input type="text" th:field="*{numer_konta}"></td>
      </tr>

      <tr>
        <td>Numer parku</td>
        <td><input type="text" th:field="*{id_parku}"></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>


    </table>



  </form>


</div>


</body>
</html>