<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Main Admin Page</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin/dane_pracownikowC.css}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/static">Park rozrywki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/index}">Strona główna</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/main}">Panel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:inline="text" style="color:lightskyblue;">Zalogowany jako [[${#httpServletRequest.remoteUser}]]</a>
        </li>

        <li class="nav-item">
          <form th:action="@{/logout}" method="post" id="logoutForm">
            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Wyloguj</a>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div align="center">
  <h1>Atrakcje</h1>

  <br/><br/>

  <!-- Table -->
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Producent</th>
      <th>Liczba miejsc</th>
      <th>Opis</th>
      <th>ID parku</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="atrakcje : ${atrakcjeList}">
      <td th:text="${atrakcje.id_atrakcji}">ID</td>
      <td th:text="${atrakcje.nazwa}">Nazwa</td>
      <td th:text="${atrakcje.producent}">Producent</td>
      <td th:text="${atrakcje.liczba_miejsc}">Liczba miejsc</td>
      <td th:text="${atrakcje.opis}">Opis</td>
      <td th:text="${atrakcje.id_parku}">ID parku</td>
      <td>
        <a th:href="@{'/editA/' + ${atrakcje.id_atrakcji}}" class="add-button2">Edytuj</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/deleteA/' + ${atrakcje.id_atrakcji}}"class="add-button2" >Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/newA}" class="add-button">Dodaj atrakcję</a>

</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>