<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/editFormPracownicy.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">

    <meta charset="UTF-8">
    <title>Dodaj</title>

</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/static">Park rozrywki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona główna</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Panel</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">Zalogowany jako [[${#httpServletRequest.remoteUser}]]</a>
                </li>

                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" id="logoutForm">
                        <a class="nav-link" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Wyloguj</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div align="center">
    <h1>Wprowadź nową atrakcję</h1>

    <br/>

    <form action="#" th:action="@{/saveA}" th:object="${atrakcje}" method="post">
        <table border = "1" cellpadding = "10">
<!--            <tr>-->
<!--                <td>ID</td>-->
<!--                <td><input type="text" th:field="*{id_atrakcji}"></td>-->
<!--            </tr>-->

            <tr>
                <td>Nazwa</td>
                <td><input type="text" th:field="*{nazwa}"></td>
            </tr>

            <tr>
                <td>Producent</td>
                <td><input type="text" th:field="*{producent}"></td>
            </tr>

            <tr>
                <td>Liczba miejsc</td>
                <td><input type="text" th:field="*{liczba_miejsc}"></td>
            </tr>

            <tr>
                <td>Opis</td>
                <td><input type="text" th:field="*{opis}"></td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Zapisz</button></td>
            </tr>

        </table>

    </form>
</div>
</body>
</html>